* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.label {
  width: 275px;
  border-width: 2px;
  border-style: solid;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inline {
  display: inline-block;
}

.left {
  width: 60%;
  text-align: left;
}

.right {
  width: 38%;
  text-align: right;
}

.bold {
  font-weight: 700;
}

.thick {
  border: 5px solid; 
}

.less-thick {
  border: 3px solid; 
}

.small {
  font-size: small;
}

.large {
  font-size: 30px;
}

.full {
  width: 100%;
}

.indented {
  padding-left: 10px;
}